[Desktop Entry]
Icon=image
Name=byzantium-appleesc-1920x1080.png
Type=Link
URL[$e]=file:///usr/share/wallpapers/byzantium-appleesc-1920x1080.png
X-KDE-LastOpenedWith=kcontrol
