[Desktop Entry]
Icon=image
Name=byzantium-logo_48x48.png
Type=Link
URL[$e]=file:///usr/share/icons/byzantium/byzantium-logo_48x48.png
X-KDE-LastOpenedWith=kicker
