[Desktop Entry]
Name=Netscape plugin viewer
Type=Service
Icon=netscape
Comment=Netscape plugin viewer
X-KDE-Library=libnsplugin
InitialPreference=7
ServiceTypes=KParts/ReadOnlyPart,Browser/View
X-KDE-BrowserView-PluginsInfo=nsplugins/pluginsinfo
MimeType=application/x-shockwave-flash;application/futuresplash;application/x-java-vm;application/x-java-applet;jpi-version=1.6.0_25;application/x-java-bean;application/x-java-vm-npruntime
