<?xml version="1.0" standalone='no'?>
<!DOCTYPE service-group SYSTEM "avahi-service.dtd">
<service-group>
	<name>%(desciption)s</name>
	<service>
		<type>%(type)s</type>
		<port>%(port)d</port>
	</service>
</service-group>
