[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=Try again?
Comment=Attempt to configure this node again?
Exec=sudo /usr/local/bin/reconfigure.sh
Icon=application.png
Terminal=false
