[Desktop Entry]
Categories=Qt;KDE;System;TerminalEmulator;
Comment=
Comment[en_US]=
DocPath=konsole/index.html
Exec[$e]=konsole
GenericName=Terminal Program
GenericName[en_US]=Terminal Program
Icon=terminal
MimeType=
Name=Konsole
Name[en_US]=Konsole
Path[$e]=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-DCOP-ServiceType=multi
X-KDE-AuthorizeAction=shell_access
X-KDE-StartupNotify=true
X-KDE-SubstituteUID=false
X-KDE-Username=
