<!DOCTYPE kpartgui SYSTEM "kpartgui.dtd">
<kpartgui version="19" name="kpdf_part" >
 <MenuBar>
  <Menu name="file" >
   <text>&amp;File</text>
   <Action group="file_save" name="save" />
   <Action group="file_print" name="file_print" />
   <Action group="file_print" name="file_print_preview" />
   <Action group="file_print" name="properties" />
  </Menu>
  <Menu name="edit" >
   <text>&amp;Edit</text>
   <Action name="find" />
   <Action name="find_next" />
  </Menu>
  <Menu name="view" >
   <text>&amp;View</text>
   <Action name="presentation" />
   <Separator/>
   <Action name="zoom_in" />
   <Action name="zoom_out" />
   <Action name="zoom_fit_width" />
   <Action name="zoom_fit_page" />
   <Action name="zoom_fit_rect" />
   <Action name="rotate_right" />
   <Action name="rotate_left" />
   <Separator/>
   <Action name="view_continuous" />
   <Action name="view_twopages" />
  </Menu>
  <Menu name="go" >
   <text>&amp;Go</text>
   <Action name="previous_page" />
   <Action name="next_page" />
   <Separator/>
   <Action name="first_page" />
   <Action name="last_page" />
   <Separator/>
   <Action name="history_back" />
   <Action name="history_forward" />
   <Separator/>
   <Action name="goto_page" />
  </Menu>
  <Menu name="tools" >
   <text>&amp;Tools</text>
   <Action name="mouse_drag" />
   <Action name="mouse_zoom" />
   <Action name="mouse_select" />
  </Menu>
  <Menu name="settings" >
   <text>&amp;Settings</text>
   <Action group="show_merge" name="show_leftpanel" />
   <Action name="preferences" />
  </Menu>
 </MenuBar>
 <ToolBar name="mainToolBar" >
  <text>Main Toolbar</text>
  <Separator/>
  <Action name="history_back" />
  <Action name="history_forward" />
  <Separator/>
  <Action name="zoom_in" />
  <Action name="zoom_to" />
  <Action name="zoom_out" />
  <Action name="rotate_left" />
  <Action name="rotate_right" />
  <Separator/>
  <Action name="zoom_fit_width" />
  <Action name="zoom_fit_page" />
  <Separator/>
  <Action name="mouse_drag" />
  <Action name="mouse_zoom" />
  <Action name="mouse_select" />
 </ToolBar>
 <ActionProperties>
  <Action shortcut="" name="next_page" />
  <Action shortcut="Ctrl+L" name="show_leftpanel" />
  <Action shortcut="Shift+Up" name="view_scroll_up" />
  <Action shortcut="" name="previous_page" />
  <Action shortcut="Ctrl+Equal" name="zoom_in" />
  <Action shortcut="Shift+Down" name="view_scroll_down" />
  <Action shortcut="Ctrl+G" name="goto_page" />
 </ActionProperties>
</kpartgui>
