<?xml version="1.0" standalone='no'?>
<!DOCTYPE service-group SYSTEM "avahi-service.dtd">
<service-group>
	<name replace-wildcards="yes">IRC server running on %h.</name>
	<service>
		<type>_irc.__byz__._tcp</type>
		<port>6667</port>
	</service>
	<service>
		<type>_ircs.__byz__._tcp</type>
		<port>6697</port>
	</service>
</service-group>
