[Desktop Entry]
Icon=/usr/share/pixmaps/porteus/byzantium-icon.png
Name=Control Panel
Name[en_US]=Control Panel
Type=Link
URL[$e]=http://localhost:8080/
