<?xml version="1.0" standalone='no'?>
<!DOCTYPE service-group SYSTEM "avahi-service.dtd">
<service-group>
	<name replace-wildcards="yes">Web chat client on %h</name>
	<service>
		<type>_http.__byz__._tcp</type>
		<port>9001</port>
	</service>
</service-group>
