[Desktop Entry]
Type=MimeType
MimeType=application/x-java-vm-npruntime
Icon=netscape_doc
Comment=Netscape Java(TM) Plug-in 1.6.0_25
X-KDE-AutoEmbed=true
X-KDE-nsplugin=true
Name=Java&#153 Plug-in
